*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: #f3e6e6;
  font-family: 'Poiret One', cursive;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: auto;
}

.container--min {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

button {
  background: #f3e6e6;
  color: #000000;
  border-radius: 100px;
  border: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
}

.header {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  background: #ffffff;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__logo {
  width: 120px;
}

.header-content__tel {
  font-weight: bold;
  font-family: 'Jomhuria';
  color: #000000;
  font-size: 25px;
  transition: all .3s;
  cursor: pointer;
}

.header-content__tel:hover {
  text-decoration: underline;
}

.header-content-nav {
  transition: all .3s;
}

.header-content-nav__items {
  margin-right: 40px;
}

.header-content-nav__items:hover {
  color: #ce6c6c;
}

.header-content-nav__items:last-child {
  margin: 0;
}

.promo {
  background: url("../img/bag.jpg") no-repeat center/cover;
  padding-top: 100px;
  padding-bottom: 50px;
}

.promo-content {
  display: flex;
  justify-content: center;
}

.promo-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-content-text__title {
  font-size: 40px;
  color: #977070;
  text-align: center;
  margin-bottom: 10px;
}

.promo-content-text__desc {
  font-size: 25px;
  color: #977070;
  font-weight: bold;
  margin-bottom: 35px;
}

.promo-content-text__img {
  width: 600px;
  height: 500px;
}

.info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.info-button {
  display: flex;
  justify-content: flex-start;
  transition: all .10s;
}

.info-button__item {
  margin-top: 25px;
  border: 1px solid #000000;
  padding: 9px 15px;
  box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}

.info-button__item:hover {
  transform: translateY(-5px);
  background-color: #e09d51;
}

.info-content {
  display: flex;
  justify-content: space-between;
}

.info-content-list {
  padding: 0;
  margin-left: 15px;
}

.info-content-list__item {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
}

.info-content__title {
  margin-bottom: 30px;
  font-size: 40px;
}

.info-content__text {
  margin-bottom: 20px;
  font-size: 25px;
  max-width: 350px;
  font-weight: bold;
}

.info-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  padding-top: 40px;
  padding-bottom: 150px;
}

.card-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-item-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item-one__img {
  border-radius: 5px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-item-one__title {
  margin-top: 20px;
  font-size: 20px;
}

.card-item-one__price {
  margin-top: 10px;
}

.card-item-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item-two__img {
  border-radius: 5px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-item-two__title {
  margin-top: 20px;
  font-size: 20px;
}

.card-item-two__price {
  margin-top: 10px;
}

.card-item-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item-three__img {
  border-radius: 5px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-item-three__title {
  margin-top: 20px;
  font-size: 20px;
}

.card-item-three__price {
  margin-top: 10px;
}

.card-item-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.card-item-four__img {
  border-radius: 5px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-item-four__title {
  margin-top: 20px;
  font-size: 20px;
}

.card-item-four__price {
  margin-top: 10px;
}

.card-item-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.card-item-five__img {
  border-radius: 5px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-item-five__title {
  margin-top: 20px;
  font-size: 20px;
}

.card-item-five__price {
  margin-top: 10px;
}

.card-item-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.card-item-six__img {
  border-radius: 5px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.card-item-six__title {
  margin-top: 20px;
  font-size: 20px;
}

.card-item-six__price {
  margin-top: 10px;
}

.reviews {
  padding-top: 10px;
  padding-bottom: 60px;
  background: url("../img/rev.jpg") no-repeat center/cover;
  position: relative;
}

.reviews-button {
  margin-top: 50px;
  padding: 15px 40px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all .10s;
}

.reviews-button:hover {
  transform: translateY(-5px);
  background-color: #e09d51;
}

.reviews-all {
  display: flex;
}

.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-content__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 40px;
}

.reviews-content-info {
  display: flex;
  flex-direction: column;
  background: #bbadad;
  padding: 10px 20px 15px 25px;
  margin-left: 30px;
  border-radius: 4px;
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reviews-content-info:nth-of-type(2) {
  background: #fdad45;
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reviews-content-info:nth-of-type(3) {
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reviews-content-info__img {
  width: 50px;
  margin-bottom: 10px;
}

.reviews-content-info__img--image {
  width: 40px;
  margin-bottom: 10px;
}

.reviews-content-info__name {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.reviews-content-info__text {
  max-width: 350px;
  font-size: 20px;
  color: #ffffff;
}

.form {
  padding-top: 85px;
  padding-bottom: 100px;
  background: url("../img/grad.jpg") no-repeat top/cover;
}

.form-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background: #ffffff;
  max-width: 600px;
  height: 380px;
  margin: auto;
  padding-top: 35px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-content--input {
  margin-bottom: 15px;
  width: 350px;
  height: 30px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000000;
}

.form-content__submit {
  margin-top: 20px;
  border-radius: 12px;
  padding: 10px 25px;
  border: none;
  background: #f3e6e6;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: all .10s;
}

.form-content__submit:hover {
  transform: translateY(-3px);
  background-color: #e09d51;
}

.map {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.footer {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 60px;
  background: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-content__logo {
  width: 120px;
}

.footer-content__tel {
  font-weight: bold;
  font-family: 'Jomhuria';
  color: #000000;
  font-size: 25px;
  transition: all .3s;
  cursor: pointer;
}

.footer-content__tel:hover {
  text-decoration: underline;
}

.footer-content-nav {
  transition: all .3s;
}

.footer-content-nav__items {
  margin-right: 40px;
}

.footer-content-nav__items:hover {
  color: #ce6c6c;
}

.footer-content-nav__items:last-child {
  margin: 0;
}

.more {
  padding-top: 50px;
  padding-bottom: 100px;
  background: url("../img/graddd.jpg") no-repeat right/cover;
  position: relative;
}

.more::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.383);
}

.more-content {
  display: flex;
  margin-right: 700px;
}

.more-content__desc {
  max-width: 250px;
  font-weight: bold;
  margin-top: 300px;
  margin-left: 30px;
  background: #ffffff;
  padding: 20px 20px 20px 30px;
  width: 100%;
  height: 260px;
  color: #26688f;
  border-radius: 15px;
  box-shadow: 7px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.more-content__desc--one {
  margin-top: 250px;
  height: 230px;
}

.more-content__desc--two {
  margin-top: 140px;
  height: 300px;
}

.more-content__desc--three {
  margin-top: 70px;
  max-width: 300px;
  height: 325px;
}

.more-content__img {
  width: 200px;
  height: 200px;
}

.more-all {
  display: flex;
  margin-left: 20px;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */